{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block app_content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>{{ title }}</h2>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post">
          {{ form.hidden_tag() }}
          {{ wtf.form_field(form.text, class='form-control') }}
          {{ wtf.form_field(form.description, class='form-control', rows="4") }}
          {% if form.field_type.data in ["3","4","5","7"] %}
          <div class="row">
            <div class="col-md-1">
              <label>Valinnat:</label>
            </div>
            <div class="col-md-7">
              <ul class="list-unstyled" style="margin-bottom: 0px; padding-left: 1em;">
                {% for option in options %}
                <li>
                  {{ option }}
                  <button class="btn btn-xs" style="transform: scale(0.8)" name="delete_option" title="Poista" type="submit" formaction="/game/{{ game.id }}/form/edit/edit_question"
                  formmethod="POST" value="{{ option }}">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </button>
                  <input type="hidden" id="option_{{ loop.index }}_hidden" name="option_text_{{ loop.index }}"
                    value="{{ option }}">
                </li>
                {% endfor %}
                <li>
                  <div class="input-group">
                    <input class="form-control" style="height: 1.6em;" id="new_option"
                      name="new_option_text" type="text" value>
                    <span class="input-group-btn">
                      <button class="btn btn-primary btn-xs" name="add_option" type="submit"
                        formaction="/game/{{ game.id }}/form/edit/edit_question" formmethod="POST" value="add_option">Lisää
                        valinta</button>
                    </span>
                  </div>
                </li>
              </ul>
            </div>
            <div class="col-md-4"></div>
          </div>
          {% endif %}
          <br />
          {{ wtf.form_field(form.submit, class='btn btn-primary btn-block') }}
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>

{% endblock %}