{% extends "layout.html" %}
{% block title %}LARP-ilmo - {{ game['name'] }}{% endblock %}
{% block app_content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>
          {{ game['name'] }}
          {% if game['published'] == True and 'user_id' in session %}
          &nbsp;<a class="btn btn-primary btn-xs" href="\game\{{ game['id'] }}\register" role="button">Ilmoittaudu</a>
          {% endif %}
        </h2>
      </div>
      <div class="panel-body">
        <div class="form-horizontal">
          <div class="row">
            <label class="col-md-2 control-label">Ajankohta</label>
            <div class="col-md-10">
              <p class="form-control-static">
                {% if game['end_date'] == game['start_date'] %}
                {{ game['start_date']|formatdate }}
                {% else %}
                {{ format_daterange(game['start_date'], game['end_date']) }}
                {% endif %}
              </p>
            </div>
          </div>
          <div class="row">
            <label class="col-md-2 control-label">Paikka</label>
            <div class="col-md-10">
              <p class="form-control-static">{{ game['location'] }}</p>
            </div>
          </div>
          <div class="row">
            <label class="col-md-2 control-label">Hinta</label>
            <div class="col-md-10">
              <p class="form-control-static">{{ game['price'] }} €</p>
            </div>
          </div>
          <div class="row">
            <label class="col-md-2 control-label">Järjestäjät</label>
            <div class="col-md-10">
              <p class="form-control-static">
                {% for organiser in game['organisers'] %}
                {{ format_name(organiser['first_name'], organiser['last_name'], organiser['nickname']) }}<br />
                {% endfor %}
              </p>
            </div>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-10">
            <p>{{ game['description'] }}</p>
          </div>
        </div>
        {% if organiser == True %}
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <h4>Ilmoittautumiset</h4>
            <table class="table-condensed">
              <tr>
                <th class="col-md-1">Nro</th>
                <th class="col-md-6">Pelaajan nimi</th>
                <th class="col-md-5">Lähetetty</th>
              </tr>
              {% for reg in registrations %}
              <tr>
                <td class="col-md-1">{{ reg['number'] }}</td>
                <td class="col-md-6">
                  <a href="\game\{{ game['id'] }}\registration\{{ reg['id'] }}">
                    {{ reg['name'] }}
                  </a>
                </td>
                <td class="col-md-5">{{ reg['submitted']|formattimestamp }}</td>
              </tr>
              {% endfor %}
            </table>
          </div>
          <div class="col-md-2"></div>
        </div>
      {% endif %}
      {% endblock %}
    </div>
  </div>
</div>
</div>