{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<h1>{{ title }}</h1>
<form action='{{ action }}' method="post">
  {{ form.hidden_tag() }}
  <p>
    {{ form.name.label }}
    {{ form.name(size=64) }}
    {% for error in form.name.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.start_date.label }}
    {{ form.start_date() }}
  </p>
  <p>
    {{ form.end_date.label }}
    {{ form.end_date() }}
  </p>
  <p>
    {{ form.location.label }}
    {{ form.location(size=32) }}
  </p>
  <p>
    {{ form.price.label }}
    {{ form.price(size=4) }} €
  </p>
  <p>
    {{ form.description.label }}
    <br/>
    {{ form.description(rows='12',cols='80') }}
    {% for error in form.description.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  
    {% if has_form == True %}
      {% if is_published == True %}
        <p>Ilmoittautuminen on avattu.</p>
      {% else %}
        <p>Ilmoittautumista ei ole avattu.</p>
      {% endif %}
      <p>{{ form.edit_form() }}</p>
    {% else %}
      <p>{{ form.create_form() }}</p>
    {% endif %}
  
  <p>{{ form.submit() }}</p>
</form>
{% endblock %}