{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
<h2>Etusivu</h2>
<p>Tervetuloa LARP-ilmoon, palveluun jonka avulla voit ilmoittautua palvelussa julkaistuihin peleihin tai luoda ilmoittautumislomakkeen omalle pelillesi.</p>
<h3>Ilmoitetut pelit</h3>
<table>
  <tr>
    <th>Nimi</th>
    <th>Ajankohta</th>
    <th>Paikkakunta</th>
  </tr>
{% for game in games %}
  <tr>
    <td><a href="\game\{{ game['id'] }}">{{ game['name'] }}</a></td>
    <td>{{ game['start_date'] }}{% if game['end_date'] != game['start_date'] %}–{{ game['end_date'] }}{% endif %}</td>
    <td>{{ game['location'] }}</td>
    {% if game['organiser_id'] == session['user_id'] %}
      <td><a href="\game\{{ game['id'] }}\edit">Muokkaa</a></td>
    {% endif %}
  </tr>
{% endfor %}
</table>
{% endblock %}
