<!-- Macro for rendering different types of questions in the form -->
{% macro render_question(question) %}
{% if question['field_type'] == 'StringField' %}
{{ render_string_field(question) }}
{% elif question['field_type'] == 'IntegerField' %}
{{ render_integer_field(question) }}
{% elif question['field_type'] == 'RadioField' %}
{{ render_radio_field(question) }}
{% elif question['field_type'] == 'SelectField' %}
{{ render_select_field(question) }}
{% elif question['field_type'] == 'SelectMultipleField' %}
{{ render_select_multiple_field(question) }}
{% elif question['field_type'] == 'TextAreaField' %}
{{ render_text_area_field(question) }}
{% elif question['field_type'] == 'CheckboxListField' %}
{{ render_checkbox_list_field(question) }}
{% endif %}
{% endmacro %}

<!-- Macro for rendering questions of type StringField -->
{% macro render_string_field(question) %}
<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label class="control-label" for="{{ question.id }}">{{ question.text }}</label>
      <input class="form-control" id="{{ question.id }}" name="string_{{ question.id }}" type="text" value>
      <span class="question_desc">{{ question.description }}</span>
    </div>
  </div>
</div>
{% endmacro %}

<!-- Macro for rendering questions of type IntegerField -->
{% macro render_integer_field(question) %}
<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label class="control-label" for="{{ question.id }}">{{ question.text }}</label>
      <input class="form-control" id="{{ question.id }}" name="string_{{ question.id }}" type="number" value>
      <span class="question_desc">{{ question.description }}</span>
    </div>
  </div>
</div>
{% endmacro %}

<!-- Macro for rendering questions of type RadioField -->
{% macro render_radio_field(question) %}
<div class="row">
  <div class="col-sm-12">
    <div class="form-group">
      <label class="control-label" for="{{ question.id }}">{{ question.text }}</label>
      <span class="question_desc">{{ question.description }}</span>
      {% for option in question['options'] %}
        <div class="radio">
          <label>
            <input type="radio" name="radio_{{ question.id }}" id="{{ question.id }}_{{ option.id }}"  value="{{ option.id }}" />
            {{ option.text }}
          </label>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endmacro %}

<!-- Macro for rendering questions of type SelectField -->
{% macro render_select_field(question) %}
<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label class="question_text">[To be implemented]</p>
    </div>
  </div>
</div>
{% endmacro %}

<!-- Macro for rendering questions of type SelectMultipleField -->
{% macro render_select_multiple_field(question) %}
<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label class="question_text">[To be implemented]</p>
    </div>
  </div>
</div>
{% endmacro %}

<!-- Macro for rendering questions of type TextAreaField -->
{% macro render_text_area_field(question) %}
<div class="row">
  <div class="col-sm-12">
    <div class="form-group">
      <label class="control-label" for="{{ question.id }}">{{ question.text }}</label>
      <span class="question_desc">{{ question.description }}</span>
      <textarea class="form-control" id="{{ question.id }}" name="textarea_{{ question.id }}" rows="12"></textarea>
    </div>
  </div>
</div>
{% endmacro %}

<!-- Macro for rendering questions of type CheckboxListField -->
{% macro render_checkbox_list_field(question) %}
<div class="row">
  <div class="col-sm-12">
    <div class="form-group">
      <label class="control-label" for="{{ question.id }}">{{ question.text }}</label>
      <span class="question_desc">{{ question.description }}</span>
      {% for option in question['options'] %}
        <div class="checkbox">
          <label>
            <input type="checkbox" name="checkbox_{{ question.id }}" id="{{ question.id }}_{{ option.id }}"  value="{{ option.id }}" />
            {{ option.text }}
          </label>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endmacro %}