{% extends "layout.html" %}
{% block title %}Uuden pelin luonti{% endblock %}
{% block content %}
<form action="/newgame" method="post">
  {{ form.hidden_tag() }}
  <p>
    {{ form.name.label }}
    {{ form.name(size=64) }}
    {% for error in form.name.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.start_date.label }}
    {{ form.start_date() }}
  </p>
  <p>
    {{ form.end_date.label }}
    {{ form.end_date() }}
  </p>
  <p>
    {{ form.location.label }}
    {{ form.location(size=32) }}
  </p>
  <p>
    {{ form.description.label }}
    {{ form.description(render_kw={'class': 'form-control', 'rows': 8}) }}
    {% for error in form.description.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>{{ form.submit() }}</p>
</form>
{% endblock %}