{% extends "layout.html" %}
{% block title %}LARP-ilmo - Rekisteröityminen{% endblock %}
{% block app_content %}
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Rekisteröidy</h2>
      </div>
      <div class="panel-body">
        <form action="/register" method="post" novalidate>
          {{ form.hidden_tag() }}
          {{ wtf.form_field(form.email, class='form-control') }}
          {{ wtf.form_field(form.password, class='form-control') }}
          {{ wtf.form_field(form.first_name, class='form-control') }}
          {{ wtf.form_field(form.last_name, class='form-control') }}
          {{ wtf.form_field(form.nickname, class='form-control') }}
          {{ wtf.form_field(form.phone, class='form-control') }}
          {{ wtf.form_field(form.birth_date, class='form-control dp', style='width: 8em;') }}
          {{ wtf.form_field(form.profile, class='form-control', rows='12') }}
          <br/>
          {{ wtf.form_field(form.submit, class='btn btn-primary btn-block') }}
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>

{% endblock %}