{% from "macros.html" import render_question with context %}

{% extends "layout.html" %}
{% block title %}LARP-ilmo - {{ title }}{% endblock %}
{% block app_content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>{{ title }}</h1>
      </div>
      <div class="panel-body">
        <form id="registration_form" action='{{ action }}' method="post">
          {{ form.hidden_tag() }}

          {% for question in questions %}
          {{ render_question(question) }}
          {% endfor %}
          <p>
            {{ form.submit() }}
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}